@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
.switch{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;
}

.switch input{
    opacity: 0;
    width: 0;   
    height: 0;
}

.slider{
    position:absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: White;
    -webkit-transition : .4s;
    transition: .4s;

}

.slider:before{
    position:absolute;
    content: "";
    height:32px;
    width: 32px;
    left:4px;
    bottom:4px;
    background-image: url("images/moon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition :.4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: #ccc;
}

input:focus + .slider{
    background-color: #ccc;

}

input:checked + .slider:before{
    -webkit-transform : translateX(26px);
    -ms-transform : translateX(26px);
    transform : translateX(26px);
    background-image: url("images/sun.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%; 
}


.headerDiv{
    display: flex;
    position: relative;
    float: right;
    right:200px;
    top:40px;
}


.black{
    background-color:#1B2430;
    color:#A5C9CA;
}

body{
    background-color:#DEF5E5;
    color:#A5C9CA;
}



.logindiv ,.dark{
    margin: 0 auto 0 auto;
    position: relative;
    top:110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color:#395B64;
    width: 41%;
    height: 60vh;
    border-radius: 20px;
    font-family: 'Crimson Text', serif;
    border : border-box;
}

.dark{
    background-color:#395B64;
}

h1{
    margin: 0;
    position: relative;
    bottom:30px;
    letter-spacing:10px;
}

.textinput,.inputLight{
    width: 300px;
    height:50px;
    border-radius: 2px;
    background-color:#E7F6F2;
    font-size: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding:0;
    outline: none;
    border: 1px solid black;
    border-color: black;
    background: transparent;
    outline: 0;
    margin-bottom: 40px;

}
.textinput:hover,.inputLight:hover{
    background-color:#A5C9CA;
}

.textinput:focus::placeholder,.inputLight:focus::placeholder{
    color:transparent;
}

.textinput::placeholder,.inputLight::placeholder{
    color:black;
    letter-spacing: 4px;
    text-align: left ;
    position: relative;
    left: 20px;
}


.inputLight{
    background-color:#A5C9CA;
}
button{
    margin-top: 0;
    width:200px;
    height:50px;
    border-radius: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    background: transparent;
    transition: all 200ms ease-in;
}

button:hover{
    background-color:#1B2430;
    color:white;

}

@media screen and (max-width: 700px ) {
    .switch{
        width: 60px;
        height: 30px;
    }

    .slider:before{
        height:22px;
        width: 22px;
    }

    .headerDiv{
        float: left;
        left: 10px;
        top:15px;
    }

    .textinput,.inputLight{
        width: 60%;
        height:40px;
        font-size: 14px;
    }
    .logindiv ,.dark{
        margin-right:auto;
        top:100px;
        width: 90%;
        height: 400px;
        font-size: 13px;
        border-radius: 15px;
    }

    button{
        width:120px;
        height:40px;
        font-size:14px;
        border-radius: 20px;
        border-color: black;
    }
}

@media screen and (min-width:700px) and (max-width:910px) {
    .switch{
        width: 60px;
        height: 30px;
    }

    .slider:before{
        height:22px;
        width: 22px;
    }

    .headerDiv{
        float: left;
        left: 10px;
        top:15px;
    }

    .textinput,.inputLight{
        width: 50%;
        height:25px;
    }
    .logindiv ,.dark{
        margin-right:auto;
        top:200px;
        right:30px;
        width: 60%;
        height: 60vh;
        font-size: 20px;
        border-radius: 15px;
    }

    .label{
        font-size: 15px;
        margin-bottom: 8px;
        margin-top: 10px;
        letter-spacing: 3px;
    }

    button{
        width:90px;
        height:30px;
        font-size:9px;
        border-radius: 10px;
        margin-top: 25px;
    }
}